html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
/* Header start */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 82px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}
/* Header End */
/* Intro Start */
.intro {
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  color: white;
}
.intro__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}
.intro__subtitle {
  max-width: 546px;
  margin-bottom: 59px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.search-form__field {
  width: 297px;
  background: transparent url(../img/svg/Oval.svg) no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid white;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.search-form__field::placeholder {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.search-form__submit {
  padding: 15px 40px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  border: 0;
  color: white;
  background-color: #1B7DFF;
}
.search-form__submit:focus,
.search-form__submit:hover,
.search-form__submit:active {
  background-color: #0047a5;
}
/* Intro End */
/* Benefits Start */
.benefits {
  margin-bottom: 131px;
}
.benefits__wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}
.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.benefits__card {
  grid-column: span 1;
}
.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 36px;
}
.benefits__card-thump {
  display: block;
}
.benefits__card-title {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.benefits__card-desc {
  margin-bottom: 40px;
  font-size: 16px;
  color: #000000;
}
.benefits__card-link {
  display: inline-block;
  padding-right: 59px;
  margin-bottom: 112px;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/Arrow.svg) no-repeat 95% center;
  transition: 0.2s all;
}
.benefits__card-link:hover,
.benefits__card-link:focus {
  background: url(../img/svg/Arrow.svg) no-repeat right center;
}
/* Benefits End */
